.provider-login {
  margin-top: 20px;
}
.provider-login button {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  border: 1px solid #ff5722;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.provider-login button:hover {
  background-color: #ff5722;
  color: #fff;
  border-color: transparent;
}
