.course {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ff5722;
  margin-top: 25px;
  padding: 15px;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-pdfDownload {
  padding: 4px 6px;
  background-color: #ff5722;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-pdfDownload:hover {
  background-color: #ff7044;
}

/* .btn-pdf {
  cursor: pointer;
} */

.course-name {
  margin-bottom: 30px;
  color: #ff5722;
  border-bottom: 4px solid #ff5722;
  display: inline-block;
}

.courseImg {
  width: 100%;
  object-fit: cover;
  height: 430px;
  border-radius: 5px;
}
.course-title {
  font-size: 1.25rem;
  margin: 20px 0;
  border: 1px solid #ff5722;
  padding: 10px;
  border-radius: 5px;
}
.course-title:hover {
  color: #ff5722;
}
.course-desc {
  margin-bottom: 12px;
}
.course-meta {
  display: flex;
  justify-content: space-between;
  color: #ff5722;
}
.btn-course {
  border: 1px solid #ff5722;
  display: block;
  margin-top: 20px;

  background-color: #ff5722;
  font-size: 1.125rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-course a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
.btn-course:hover {
  color: #ff5722;
  border-color: #ff5722;
  background: transparent;
}
.btn-course:hover a {
  color: #ff5722;
}
.view {
  min-height: 75vh;
}
