.nav {
  /* background-color: rgba(255, 160, 122, 0.651); */
  box-shadow: 20px 0px 3px #ff5722;
  margin-bottom: 50px;
}
.mainNav {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto;
  align-items: center;
  height: 80px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  color: #ff5722;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 7px;
}
.mainNav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease-in-out;
}
.mainNav ul li {
  margin-left: 1.25rem;
  border-radius: 6px;
  border: 1px solid #ff5722;
  transition: 0.3s;
}
.mainNav ul li:hover {
  background-color: #ff5722;
}
.mainNav ul li a {
  text-decoration: none;
  padding: 7px 12px;
  display: block;
  color: #ff5722;
  line-height: 100%;
  font-weight: 500;
  font-size: 1.125rem;
}
.mainNav ul li:hover a {
  color: #fff;
}
.dark {
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.125rem;
}
.loginRegister {
  display: flex;
}
.border-none {
  border: none !important;
}
.btn-logout {
  background: #ff5722;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 5px;
  color: #fff;
  transition: 0.3s;
}
.btn-logout:hover {
  background: #e04a1c;
}

.mobileMenu {
  font-size: 1.125rem;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 768px) {
  .mainNav {
    padding: 0 15px;
  }
  .top {
    top: 75px;
    right: 0;
  }
  .top-2 {
    top: -1000px;
    right: 0;
  }
  .mobileMenu {
    display: block;
  }
  .mainNav ul {
    flex-direction: column;
    position: absolute;
    background-color: lightblue;
    width: 100%;
  }
}
