.nav {
  background-color: rgba(255, 160, 122, 0.651);
}
.mainNav {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto;
  align-items: center;
  height: 80px;
}
.logo a {
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.mainNav ul {
  list-style: none;
  display: flex;
}
.mainNav ul li {
  margin-left: 1.25rem;
  font-weight: 500;
  /* background-color: cornflowerblue; */
  padding: 7px 15px;
  font-size: 1.125rem;
  border-radius: 6px;
}
.mainNav ul li a {
  text-decoration: none;
  display: block;
}
