.coursesContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 60px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.courseLink {
  text-decoration: none;
  border: 1px solid goldenrod;
  margin-bottom: 15px;
  display: block;
  padding: 10px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  color: goldenrod;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: 0.3s;
}
.courseLink:hover {
  border-color: red;
  color: red;
}
